@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

body {
    font-family: "Zen Maru Gothic", serif;
  } 



h1 {
        position: relative;
        display: inline-block;
        margin-bottom: 1em;
      }
      h1:before {
        content: '';
        position: absolute;
        bottom: -15px;
        display: inline-block;
        width: 60px;
        height: 5px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: rgb(4, 0, 248);
        border-radius: 0px;
      }
      .heading-21 {
    position: relative;
    padding: .5em .7em .4em;
    border-bottom: 3px solid #0800f7;
    color: #333333;
}

.heading-21::before,
.heading-21::after {
    position: absolute;
    left: 30px;
    bottom: -15px;
    width: 30px;
    height: 15px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
}

.heading-21::before {
    background-color: #0800f7;
}

.heading-21::after {
    bottom: -11px;
    background-color: #fff;
}

      h2 {
        .heading-21 {
            position: relative;
            padding: .5em .7em .4em;
            border-bottom: 3px solid #0800f7;
            color: #333333;
        }
        
        .heading-21::before,
        .heading-21::after {
            position: absolute;
            left: 30px;
            bottom: -15px;
            width: 30px;
            height: 15px;
            clip-path: polygon(0 0, 100% 0, 50% 100%);
            content: '';
        }
        
        .heading-21::before {
            background-color: #0800f7;
        }
        
        .heading-21::after {
            bottom: -11px;
            background-color: #fff;
        }
        
      }

  
      
  
  .gallery {
    display: grid;
    max-width: 1000px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .img-item {
    opacity: 0;
    filter: blur(10px);
    width: 100%;
  }
  
  .img-item img {
    width: 100%;
    height: auto;
  }

  .container img {
    max-width: 100%;
    height: auto;
  }
  
  .img-item p {
    text-align: center;
  }
  
  footer {
    text-align: center;
    color: #EEE;
  }
 
  .sns-btn {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
margin-top: 20px;
  }

  .sns-btn img {
    justify-content: center;
    width: 30px;
    height: auto;
  }
  
 
