@charset "UTF-8";
  
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&family=Zen+Maru+Gothic&display=swap');


    body {
        font-family: "Zen Kaku Gothic New", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
       
      .heading-31 {
    position: relative;
    padding: .3em 0 .2em 1em;
    border-bottom: 1.5px solid #f40101;
    color: #333333;
}

.heading-31::before {
    position: absolute;
    top: 0;
    left: .3em;
    transform: rotate(55deg);
    height: 11px;
    width: 12px;
    background: #f40101;
    content: '';
}

.heading-31::after {
    position: absolute;
    transform: rotate(15deg);
    top: .6em;
    left: 0;
    height: 8px;
    width: 8px;
    background: #f40101;
    content: '';
}
  
  

    h3 {
      background: #c2edff;
      padding: 0.5em;
    }

    h4 {
      border-bottom: solid 3px black;
    }


      
  .text{
    max-width: 1000px;
    margin:0 auto;
  }

  .title{
    text-align: center;
  }


  
  .gallery {
    display: grid;
    max-width: 1000px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .img-item {
    opacity: 0;
    filter: blur(10px);
    width: 100%;
  }
  
  .img-item img {
    width: 100%;
    height: auto;
  }
  
  .img-item p {
    text-align: center;
  }
  
  footer {
    text-align: center;
    color: #EEE;
  }
  .sns-btn {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
margin-top: 20px;
  }

  .sns-btn img {
    justify-content: center;
    width: 30px;
    height: auto;
  }
  



 